body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding:2%;
}
.half-width img{
    width: 80%;
}
.lnk-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato) ;
    border-radius: 4px;
    padding: 5px 20px;   
    color: white ;
    font-weight: 700;   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;   
}
.experience-area{
 background-image: url(images/exp-bg.png);
 background-repeat: no-repeat;
 background-position: left;
 background-position-y: bottom;
}
.experience-item{
    width: 40%;   
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 10px 30px  blueviolet;
    padding: 35px;
    border-radius: 0px;
}
#full-stak{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#hero-learner{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.hr-design{
    border: none;
    height: 1px;
    background-image: linear-gradient(to left, cyan, gray );
}
